<!-- Start Footer Area -->
<!-- bg-[#081828] dark:bg-[#0a0a0a] -->
<footer class="footer bg-[#081828] dark:bg-[#0a0a0a]">
  <!-- ! Start Footer Top -->
  <div class="footer-top px-20">
    <div class="mx-auto">
      <div class="inner-content flex flex-wrap gap-y-3 justify-center">
        <div class="basis-full md:basis-1/3">
          <div class="footer-logo flex justify-center lg:justify-normal">
            <a href="index.html"> Logo </a>
          </div>
        </div>
        <div class="basis-full md:basis-2/3">
          <div class="footer-newsletter flex flex-wrap items-center">
            <h4
              class="text-xl font-semibold mb-4 text-white basis-full lg:basis-1/2"
            >
              Subscribe to our Newsletter
              <span class="block text-sm text-gray-500"
                >Get all the latest information, Sales, and Offers.</span
              >
            </h4>
            <div class="newsletter-form-head basis-full lg:basis-1/2">
              <form
                action="#"
                method="get"
                target="_blank"
                class="newsletter-form"
              >
                <input
                  name="EMAIL"
                  placeholder="Email address here..."
                  type="email"
                />
                <div class="button">
                  <button
                    class="bg-blue-700 py-3 px-3 hover:bg-white hover:text-black duration-300 text-white rounded-md w-full"
                  >
                    Subscribe<span class="dir-part"></span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--! End Footer Top -->
  <!--! Start Footer Middle -->
  <div class="py-10 px-20">
    <div class="container mx-auto">
      <div class="flex flex-wrap justify-center">
        <div class="lg:w-1/4 md:w-1/2 w-full mb-6 px-5">
          <!-- Single Widget -->
          <div class="single-footer f-contact text-white">
            <h3 class="text-lg font-semibold mb-4">Get In Touch With Us</h3>
            <p class="text-sm mb-2">Phone: +1 (900) 33 169 7720</p>
            <ul class="text-sm text-gray-400">
              <li>
                <span class="font-semibold">Monday-Friday: </span> 9.00 am -
                8.00 pm
              </li>
              <li>
                <span class="font-semibold">Saturday: </span> 10.00 am - 6.00 pm
              </li>
            </ul>
            <p class="text-sm mt-2">
              <a href="mailto:support@shopgrids.com" class="hover:underline"
                >supportshopgrids.com</a
              >
            </p>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-7">
          <!-- Single Widget -->
          <div class="single-footer our-app">
            <h3 class="text-lg font-semibold mb-4">Our Mobile App</h3>
            <ul class="app-btn">
              <li class="w-[50%] lg:w-[100%] mx-auto md:mx-0">
                <a href="javascript:void(0)" class="flex items-center mb-2">
                  <i class="fab fa-apple text-xl mr-2"></i>
                  <div>
                    <span>Download on the</span>
                    <span>App Store</span>
                  </div>
                </a>
              </li>
              <li class="w-[50%] lg:w-[100%] mx-auto md:mx-0">
                <a href="javascript:void(0)" class="flex items-center">
                  <i class="fab fa-google-play text-xl mr-2"></i>
                  <div>
                    <span>Download on the</span>
                    <span>Google Play</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full mb-6">
          <!-- Single Widget -->
          <div class="single-footer f-link px-5">
            <h3 class="text-lg font-semibold mb-4">Information</h3>
            <ul class="text-sm text-gray-400">
              <li>
                <a
                  routerLink="/about"
                  class="hover:cursor-pointer"
                  routerLinkActive="text-blue-800"
                  >About Us</a
                >
              </li>
              <li>
                <a
                  routerLink="/contact"
                  class="hover:cursor-pointer"
                  routerLinkActive="text-blue-800"
                  >Contact Us</a
                >
              </li>
              <li>
                <a href="javascript:void(0)" class="hover:cursor-pointer"
                  >Downloads</a
                >
              </li>
              <li>
                <a href="javascript:void(0)" class="hover:cursor-pointer"
                  >Sitemap</a
                >
              </li>
              <li>
                <a href="javascript:void(0)" class="hover:cursor-pointer"
                  >FAQs Page</a
                >
              </li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full mb-6 px-6">
          <!-- Single Widget -->
          <div class="single-footer f-link">
            <h3 class="text-lg font-semibold mb-4">Shop Departments</h3>
            <ul class="text-sm text-gray-400">
              <li><a routerLink="/books">Books</a></li>
              <li><a href="javascript:void(0)">Smartphones & Tablets</a></li>
              <li><a href="javascript:void(0)">TV, Video & Audio</a></li>
              <li><a href="javascript:void(0)">Cameras, Photo & Video</a></li>
              <li><a href="javascript:void(0)">Headphones</a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
      </div>
    </div>
  </div>
  <!--! End Footer Middle -->
  <!-- Start Footer Bottom -->
  <div class="footer-bottom">
    <div class="container mx-auto">
      <div
        class="flex flex-wrap justify-center items-center gap-y-5 text-center inner-content"
      >
        <div
          class="text-sm basis-[100%] lg:basis-1/3 flex-row md:flex-col flex-wrap justify-center gap-y-3"
        >
          <span class="mr-2 text-white">We Accept:</span>
          <img
            src="assets/images/footer/credit-cards-footer.png"
            alt="#"
            class="inline-block"
          />
        </div>
        <div class="text-sm text-white basis-[100%] lg:basis-1/3">
          <p>
            Designed and Developed by
            <a
              href="https://graygrids.com/"
              rel="nofollow"
              target="_blank"
              class="hover:underline"
              >GrayGrids</a
            >
          </p>
        </div>
        <div class="text-sm basis-[100%] lg:basis-1/3">
          <ul class="flex space-x-4 justify-center">
            <li><span class="text-white">Follow Us On:</span></li>
            <li>
              <a
                href="javascript:void(0)"
                class="text-gray-400 hover:text-white"
                ><i class="fab fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a
                href="javascript:void(0)"
                class="text-gray-400 hover:text-white"
                ><i class="fab fa-twitter"></i
              ></a>
            </li>
            <li>
              <a
                href="javascript:void(0)"
                class="text-gray-400 hover:text-white"
                ><i class="fab fa-instagram"></i
              ></a>
            </li>
            <li>
              <a
                href="javascript:void(0)"
                class="text-gray-400 hover:text-white"
                ><i class="fab fa-google"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Bottom -->
</footer>
<!--/ End Footer Area -->
