<!-- Start Footer Area -->
<!-- bg-[#081828] dark:bg-[#0a0a0a] -->
<footer class="footer bg-[#081828] dark:bg-[#0a0a0a]">
  <div class="px-20 flex justify-center">
    <div class="container mx-auto">
      <div class="flex flex-wrap justify-center">
        <div class="lg:w-1/4 md:w-1/2 w-full mb-6 px-5 flex justify-center md:justify-normal items-center mt-2">
          <div>
            <a href="index.html" class="text-white text-2xl">
              <img src="../../../../assets/images/logo/photo_2024-09-21_15-02-33.jpg" class="h-28 w-48" alt="">
            </a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full mb-6 px-5">
          <!-- Single Widget -->
          <div class="single-footer f-contact text-white">
            <h3 class="text-lg font-semibold mb-4">{{"footbar.Get In Touch With Us"|translate}}</h3>
            <p class="text-sm mb-2">{{"footbar.Phone:"|translate}} +1 (900) 33 169 7720</p>
            <ul class="text-sm text-gray-400">
              <li>
                <span class="font-semibold">{{"footbar.Monday-Friday:"|translate}} </span> 9.00 {{"footbar.am"|translate}} -
                8.00 {{"footbar.pm"|translate}}
              </li>
              <li>
                <span class="font-semibold">{{"footbar.Saturday:"|translate}} </span> 10.00 {{"footbar.am"|translate}} - 6.00 {{"footbar.pm"|translate}}
              </li>
            </ul>
            <p class="text-sm mt-2">
              <a href="mailto:support@shopgrids.com" class="hover:underline"
                >{{"support@shopgrids.com"}}</a
              >
            </p>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full mb-6">
          <div class="single-footer f-link px-5">
            <h3 class="text-lg font-semibold mb-4">{{"footbar.Quick Links"|translate}}</h3>
            <ul class="text-sm text-gray-400">
              <li>
                <a
                  routerLink="/home"
                  class="hover:cursor-pointer"
                  routerLinkActive="text-blue-800"
                  >{{"footbar.Home"|translate}}</a>
              </li>
                <li>
                  <a
                  routerLink="/home"
                  class="hover:cursor-pointer"
                  routerLinkActive="text-blue-800"
                  >{{"footbar.Books"|translate}}</a
                >
                </li>
                <li>
                  <a
                  routerLink="/about"
                  class="hover:cursor-pointer"
                  routerLinkActive="text-blue-800"
                  >{{"footbar.About Us"|translate}}</a
                >
                </li>
              <li>
                <a
                  routerLink="/contact"
                  class="hover:cursor-pointer"
                  routerLinkActive="text-blue-800"
                  >{{"footbar.Contact Us"|translate}}</a
                >
              </li>
              <li>
              </li>
            </ul>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full mb-6">
          <div class="single-footer f-link px-5">
            <h3 class="text-lg font-semibold mb-4">{{"footbar.Follow Us"|translate}}</h3>
              <ul class="text-sm text-gray-400">
                <li>
                  <a
                    href="https://www.facebook.com/Andalosia.Book.Store?mibextid=ZbWKwL"
                    [target]="'_blank'"
                    class="text-gray-400 hover:text-white"
                    ><i class="fab fa-facebook-f"></i
                  ><span class="ms-2">{{"footbar.facebook"|translate}}</span></a>
                </li>
                <li>
                  <a
                    href="javascript:void(0)"
                    class="text-gray-400 hover:text-white"
                    ><i class="fab fa-twitter"></i
                  ><span class="ms-2">{{"footbar.twitter"|translate}}</span></a>
                </li>
                <li>
                  <a
                    href="javascript:void(0)"
                    class="text-gray-400 hover:text-white"
                    ><i class="fab fa-instagram"></i
                  ><span class="ms-2">{{"footbar.instagram"|translate}}</span></a>
                </li>
                <li>
                  <a
                    href="javascript:void(0)"
                    class="text-gray-400 hover:text-white"
                    ><i class="fab fa-google"></i
><span class="ms-2">{{"footbar.google"|translate}}</span></a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--! End Footer Middle -->
  <!-- Start Footer Bottom -->
  <div class="footer-bottom">
    <div class="container mx-auto">
      <div
        class="flex flex-wrap justify-center items-center gap-y-5 text-center inner-content"
      >
        <div class="text-gray-400 py-4 text-center">
          <p>&copy; {{"footbar.2024 Online Library. All rights reserved."|translate}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Bottom -->
</footer>
<!--/ End Footer Area -->