/* You can add global styles to this file, and also import other style files */
// @import '../node_modules/swiper/swiper-bundle.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;



.line-clamp-3 {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

.line-clamp-5 {
    display: -webkit-box;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

  