<section class="bg-[#0167F3] dark:bg-[#3165ad] text-white py-16 px-6">
    <div class="max-w-6xl mx-auto text-center">
        <h2 class="text-3xl font-bold mb-4">{{"call-section.Join Us Today!"|translate}}</h2>
        <p class="text-lg mb-8">{{"call-section.sign up for..."|translate}}</p>
        <div class="flex justify-center gap-4">
            <a routerLink="/signup"
                class="bg-white hover:bg-blue-800 text-black hover:text-white font-semibold py-3 px-6 rounded-md transition duration-300">{{"call-section.Sign Up Now"|translate}}</a>
            <a routerLink="/books"
                class="bg-white hover:bg-green-800 text-black hover:text-white font-semibold py-3 px-6 rounded-md transition duration-300">{{"call-section.Browse Store"|translate}}</a>
            <a routerLink="/about"
                class="bg-white hover:bg-yellow-800 text-black hover:text-white font-semibold py-3 px-6 rounded-md transition duration-300">{{"call-section.Join Community"|translate}}</a>
        </div>
    </div>
</section>