<div class="fixed inset-0 flex items-center justify-center z-50">
  <!-- Dark mode overlay background -->
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 dark:bg-dark-900 dark:bg-opacity-75"></div>

  <div class="relative bg-white dark:bg-gray-800 rounded-lg shadow-lg max-w-sm mx-auto">
    <div class="px-6 py-4">
      <div class="flex items-start">
        <div class="flex-shrink-0">
          <svg class="h-6 w-6 text-red-600 dark:text-red-500" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
          </svg>
        </div>
        <div class="ml-4">
          <h3 class="text-lg font-semibold text-gray-900 dark:text-text-forDark">{{"confirmation-dialog.Confirm Action"|translate}}</h3> <!-- Use dynamic title -->
          <p class="mt-2 text-gray-700 dark:text-gray-400">{{"confirmation-dialog.Are you sure you."|translate}}</p> <!-- Use dynamic message -->
        </div>
      </div>
    </div>
    <div class="flex justify-end bg-gray-100 dark:bg-gray-800 p-4 rounded-b-lg">
      <button (click)="onConfirm()" class="bg-red-600 text-white px-4 py-2 rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500">
        {{"confirmation-dialog.Confirm"|translate}} <!-- Dynamic confirm button text -->
      </button>
      <button (click)="onCancel()" class="ml-3 bg-gray-200 text-gray-900 px-4 py-2 rounded-md hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400">
        {{"confirmation-dialog.Cancel"|translate}} <!-- Dynamic cancel button text -->
      </button>
    </div>
  </div>
</div>
