<div class="relative h-screen flex items-center justify-center bg-cover bg-center" style="background-image: url('../../../assets/images/hero/6920933.jpg');">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="relative z-10 text-center text-white px-4">
        <h1 class="text-4xl md:text-6xl font-bold mb-4">Explore the World of Books</h1>
        <p class="text-lg md:text-xl mb-8">Discover new stories, authors, and genres. Dive into a world of endless possibilities.</p>
        <a routerLink="/books" class="bg-[#0167F3] hover:bg-blue-800 text-white px-6 py-3 rounded-xl text-lg font-semibold">
            Browse Books
        </a>
    </div>
</div>
