<app-sub-navbar></app-sub-navbar>

<div class="container mx-auto px-4">
  <div class="text-center mb-12">

    <div class="flex flex-wrap -mx-4">
      <div class="w-full sm:w-10/12 md:w-1/3 px-4 mb-8">
        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="cover">
                <img src="../../../assets/images/arrivals1.png" alt="John Marvel" />
              </div>
              <div class="user">
                <img class="rounded-full" src="../../../assets/images/arrivals3.png" alt="John Marvel" />
              </div>
              <div class="content">
                <div class="main">
                  <h3 class="text-xl font-semibold">John Marvel</h3>
                  <p class="text-sm text-gray-500">CEO</p>
                  <p class="text-center mt-2">"I'm the new Sinatra, and since I made it here I can make it anywhere,
                    yeah, they love me everywhere"</p>
                </div>
                <div class="footer mt-4">
                  <i class="fa fa-mail-forward"></i> Auto Rotation
                </div>
              </div>
            </div> <!-- end front panel -->
            <div class="back">
              <div class="header">
                <h5 class="text-lg font-semibold">"To be or not to be, this is my awesome motto!"</h5>
              </div>
              <div class="content">
                <div class="main">
                  <h4 class="text-center text-lg font-semibold">Job Description</h4>
                  <p class="text-center mt-2">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                  <div class="flex justify-between mt-4">
                    <div class="stats text-center">
                      <h4 class="text-xl">235</h4>
                      <p>Followers</p>
                    </div>
                    <div class="stats text-center">
                      <h4 class="text-xl">114</h4>
                      <p>Following</p>
                    </div>
                    <div class="stats text-center">
                      <h4 class="text-xl">35</h4>
                      <p>Projects</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer mt-4">
                <div class="social-links text-center">
                  <a href="https://creative-tim.com" class="text-blue-500 mr-2"><i class="fa fa-facebook fa-fw"></i></a>
                  <a href="https://creative-tim.com" class="text-red-500 mr-2"><i
                      class="fa fa-google-plus fa-fw"></i></a>
                  <a href="https://creative-tim.com" class="text-blue-400"><i class="fa fa-twitter fa-fw"></i></a>
                </div>
              </div>
            </div> <!-- end back panel -->
          </div> <!-- end card -->
        </div> <!-- end card-container -->
      </div>
    </div>
  </div>
</div>
