<!-- Start Shipping Info -->
<section class="shipping-info bg-white dark:bg-[#081d31]">
    <div class="container mx-auto">
        <ul>
            <!-- Free Shipping -->
            <li>
                <div class="media-icon">
                    <i class="fas fa-shipping-fast"></i>
                </div>
                <div class="media-body text-[#081828]  dark:text-white">
                    <h5>{{"shipping-info.Free Shipping"|translate}}</h5>
                    <span>{{"shipping-info.On order over $99"|translate}}</span>
                </div>
            </li>

            <!-- 24/7 Support -->
            <li>
                <div class="media-icon">
                    <i class="fas fa-headset"></i>
                </div>
                <div class="media-body text-[#081828] dark:text-white">
                    <h5>{{"shipping-info.24/7 Support"|translate}}</h5>
                    <span>{{"shipping-info.Live Chat Or Call"|translate}}</span>
                </div>
            </li>

            <!-- Online Payment -->
            <li>
                <div class="media-icon">
                    <i class="fas fa-credit-card"></i>
                </div>
                <div class="media-body text-[#081828] dark:text-white">
                    <h5>{{"shipping-info.Online Payment"|translate}}</h5>
                    <span>{{"shipping-info.Secure Payment Services"|translate}}</span>
                </div>
            </li>

            <!-- Easy Return -->
            <li>
                <div class="media-icon">
                    <i class="fas fa-sync-alt"></i>
                </div>
                <div class="media-body text-[#081828] dark:text-white">
                    <h5>{{"shipping-info.Easy Return"|translate}}</h5>
                    <span>{{"shipping-info.Hassle Free Shopping"|translate}}</span>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- End Shipping Info -->