<swiper-container 
    loop="true"
    navigation="true"
    [breakpoints]="breakpoints"
    speed="100"
    autoplay-delay="1500" 
    class="w-full h-[500px]"
    
>
    @for (author of authors; track author.id) {
        <swiper-slide class="relative">
            <img [src]="author.image" alt="" class=" h-full object-cover">
            <a routerLink="/authors" class="absolute bottom-[22%] right-[50%] translate-x-1/2 text-white text-lg font-bold hover:text-blue-600 hover:underline cursor-pointer">{{author.name}}</a>
            <p class="absolute bottom-[10%] right-[5%] text-white text-center">{{author.bio}}</p>
        </swiper-slide>
    }

</swiper-container>