<section class="p-8 bg-gray-200 min-h-screen flex items-center justify-center">
  <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-lg">
    <h2 class="text-3xl font-semibold text-center text-gray-800 mb-6">
      {{"forgot-password.Forgot Password"|translate}}
    </h2>

    <form [formGroup]="resetForm" (ngSubmit)="requestPasswordReset()">
      <div *ngIf="resetMessage" class="mt-2 text-center mb-3">
        <p
          [ngClass]="{
            'text-green-600 font-bold': resetMessage.includes('success'),
            'text-red-600 font-bold': !resetMessage.includes('success')
          }"
        >
          {{ resetMessage }}
        </p>
      </div>

      <div class="mb-6">
        <label for="email" class="block text-gray-700 text-lg font-medium mb-2"
          >{{"forgot-password.Email Address"|translate}}</label
        >
        <input
          id="email"
          formControlName="email"
          type="email"
          placeholder="{{'forgot-password.Enter your email'|translate}}"
          class="w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
        />
        <div
          *ngIf="
            resetForm.get('email')?.touched && resetForm.get('email')?.invalid
          "
          class="text-red-600 text-sm mt-2"
        >
          <p *ngIf="resetForm.get('email')?.hasError('required')">
            {{"forgot-password.Email is required."|translate}}
          </p>
          <p *ngIf="resetForm.get('email')?.hasError('email')">
            {{"forgot-password.Invalid email address."|translate}}
          </p>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="mb-6">
        <button
          type="submit"
          [disabled]="isLoading"
          class="w-full py-3 px-4 bg-blue-600 text-white font-semibold rounded-md shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 disabled:bg-gray-400"
        >
          <span *ngIf="isLoading" class="animate-pulse">{{"forgot-password.Sending..."|translate}}</span>
          <span *ngIf="!isLoading">{{"forgot-password.Send Reset Link"|translate}}</span>
        </button>
      </div>
    </form>
  </div>
</section>
