<app-hero-section></app-hero-section>

<!-- Products -->
<section class="trending-product section mt-3">
    <div class="container mx-auto">
        <div class="text-center section-title">
            <h2 class="text-3xl font-semibold">Trending Product</h2>
            <p class="text-gray-600 mt-2">There are many variations of passages of Lorem Ipsum available, but the
                majority have suffered alteration in some form.</p>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mt-6">
            <!-- Start Single Product -->
            <app-card></app-card>
            <!-- End Single Product -->
        </div>
    </div>
</section>


<app-call-section></app-call-section>

<app-banner-section></app-banner-section>

<app-shipping-info></app-shipping-info>
