<app-sub-navbar></app-sub-navbar>

<app-hero-section></app-hero-section>

<!-- BOOKS -->
<div class="xl:px-24 lg:px-12 md:px-6 sm:px-8 px-2 py-16 bg-light-100 dark:bg-dark-800">
<section class="">
    <div class="trending-product ">
        <div class="container mx-auto">
            <div class="text-center section-title">
                <h1 class="relative heading py-4 text-3xl font-semibold dark:text-white">{{"home.Books"|translate}}
                    <div class="absolute block text-[25px] md:text-[35px] font-black text-dark-900 bg-light-100 dark:bg-dark-800 dark:text-text-forDark left-1/2 -translate-x-1/2 mt-0 md:mt-2 px-2 z-10">
                        <i class="fa-regular fa-bookmark"></i>
                    </div>
                </h1>
                <p class="text-text-primary mt-2 dark:text-text-forDark py-4 max-w-4xl mx-auto">{{"home.There are many"|translate}}</p>
            </div>
            <div>
                <app-swiper [Books]="allBooks" ngSkipHydration></app-swiper> <!-- ngSkipHydration for hydration -->
            </div>
        </div>
    </div>
</section>

@if (recommendationBooks.length>0) {
    <section class="bg-light-100 dark:bg-dark-800 py-12">
        <div class="trending-product section">
            <div class="container mx-auto">
                <div class="text-center section-title">
                    <h1 class="relative heading py-4 text-3xl font-semibold dark:text-white">{{"home.Recommended Books"|translate}}
                        <div class="absolute block text-[25px] md:text-[35px] font-black text-dark-900 bg-light-100 dark:bg-dark-800 dark:text-text-forDark left-1/2 -translate-x-1/2 mt-0 md:mt-2 px-2 z-10">
                            <i class="fa-regular fa-bookmark"></i>
                        </div>
                    </h1>
                    <p class="text-text-primary mt-2 dark:text-text-forDark py-4 max-w-4xl mx-auto">{{'home.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.'|translate}}</p>
                </div>
                <div>
                    <app-swiper [Books]="recommendationBooks" ngSkipHydration></app-swiper> <!-- ngSkipHydration for hydration -->
                </div>
            </div>
        </div>
    </section>
}

<section class="bg-light-100 dark:bg-dark-800 py-12">
    <div class="trending-product section">
        <div class="container mx-auto">
            <div class="text-center section-title">
                <h1 class="relative heading py-4 text-3xl font-semibold dark:text-white">{{"home.Top Rating Books"|translate}}
                    <div class="absolute block text-[25px] md:text-[35px] font-black text-dark-900 bg-light-100 dark:bg-dark-800 dark:text-text-forDark left-1/2 -translate-x-1/2 mt-0 md:mt-2 px-2 z-10">
                        <i class="fa-regular fa-bookmark"></i>
                    </div>
                </h1>
                <p class="text-text-primary mt-2 dark:text-text-forDark py-4 max-w-4xl mx-auto">{{"home.Browse through our top-rated books, handpicked by readers and critics alike. Discover the most highly acclaimed titles that have garnered widespread praise and attention."|translate}}</p>
            </div>
            <div>
                <app-swiper [Books]="topRatingBooks" ngSkipHydration></app-swiper> <!-- ngSkipHydration for hydration -->
            </div>
        </div>
    </div>
</section>

<section class="bg-light-100 dark:bg-dark-800 py-12">
    <div class="trending-product section">
        <div class="container mx-auto">
            <div class="text-center section-title">
                <h1 class="relative heading py-4 text-3xl font-semibold dark:text-white">{{"home.New Books"|translate}}
                    <div class="absolute block text-[25px] md:text-[35px] font-black text-dark-900 bg-light-100 dark:bg-dark-800 dark:text-text-forDark left-1/2 -translate-x-1/2 mt-0 md:mt-2 px-2 z-10">
                        <i class="fa-regular fa-bookmark"></i>
                    </div>
                </h1>
                <p class="text-text-primary mt-2 dark:text-text-forDark py-4 max-w-4xl mx-auto">{{"home.Stay up to date with the latest arrivals in the literary world. Explore newly published books across various genres, offering fresh narratives and perspectives for your reading pleasure."|translate}}</p>
            </div>
            <div>
                <app-swiper [Books]="newBooks" ngSkipHydration></app-swiper> <!-- ngSkipHydration for hydration -->
            </div>
        </div>
    </div>
</section>



<!-- Categories -->
<section class="dark:bg-dark-800 py-12">
    <div class="trending-product section">
        <div class="container mx-auto">
            <div class="text-center section-title">
                <h1 class="relative heading py-4 text-3xl font-semibold dark:text-white">{{"home.Categories"|translate}}
                    <div class="absolute block text-[25px] md:text-[35px] font-black text-dark-900 bg-light-100 dark:bg-dark-800 dark:text-text-forDark left-1/2 -translate-x-1/2 mt-0 md:mt-2 px-2 z-10">
                        <i class="fa-regular fa-bookmark"></i>
                    </div>
                </h1>
                <p class="text-text-primary mt-2 dark:text-text-forDark py-4 max-w-4xl mx-auto mb-5">{{"home.Dive into a world of knowledge with our categorized collection of books. Whether you're looking for adventure, romance, or science, our categories make it easy to find exactly what you're looking for."|translate}}</p>
            </div>

            <div class="">
                    <app-category-slider [categories]="categories" ngSkipHydration></app-category-slider>
            </div>
        </div>
    </div>
</section>

<!-- AUTHOR -->
<section class="dark:bg-dark-800 py-12">
    <div class="trending-product section">
        <div class="container mx-auto">
            <div class="text-center section-title">
                <h1 class="relative heading py-4 text-3xl font-semibold dark:text-white">{{"home.Authors Spotlight"|translate}}
                    <div class="absolute block text-[25px] md:text-[35px] font-black text-dark-900 bg-light-100 dark:bg-dark-800 dark:text-text-forDark left-1/2 -translate-x-1/2 mt-0 md:mt-2 px-2 z-10">
                        <i class="fa-regular fa-bookmark"></i>
                    </div>
                </h1>
                <p class="text-text-primary mt-2 dark:text-text-forDark py-4 max-w-4xl mx-auto mb-5">{{"home.Get to know the brilliant minds behind your favorite books in our Authors Spotlight. Discover the stories, achievements, and works of the most influential authors in the literary world."|translate}}</p>
            </div>
            <div>
                <app-author-swiper [authors] = "authors" ngSkipHydration></app-author-swiper>
            </div>
        </div>
    </div>
</section>

</div>

@if (isLoggedIn === false) {
    <app-call-section></app-call-section>
}


<!-- <app-banner-section></app-banner-section> -->

<!-- <app-shipping-info></app-shipping-info> -->
