<app-sub-navbar></app-sub-navbar>

<section class="py-24 2xl:py-44 bg-sky-50">
  <div class="container px-4 mx-auto">
    <h2 class="mb-14 xl:mb-24 text-5xl xl:text-10xl font-heading font-medium text-center">wishlist</h2>


          <div class="">
            <div class="flex flex-wrap -mx-0">

              <div class="w-full sm:w-1/2 xl:w-1/6 px-3">
                <div class="xl:flex xl:items-center   mb-8 bg-pink-400 rounded-3xl">
                  <a class="block mx-auto max-w-max" href="#">
                    <img class="h-30 w-100 object-cover rounded-3xl" src="https://cdn.abjjad.com/pub/df2ed503-85c5-461c-ba16-91f2488aa09e-192X290.png" alt="">
                  </a>
                </div>
                  <p class="mb-4 text-xl leading-8 font-heading font-medium hover:underline">Smartwatch Uistore Homme Watch 19</p>

                <p class="text-xl text-blue-500 font-heading font-medium tracking-tighter">
                  <span class="text-base pr-2">EG</span>
                  <span>120.90</span>
                </p>
              </div>
              <div class="w-full sm:w-1/2 xl:w-1/6 px-3">
                <div class="xl:flex xl:items-center   mb-8 bg-pink-400 rounded-3xl">
                  <a class="block mx-auto max-w-max" href="#">
                    <img class="h-30 w-100 object-cover rounded-3xl" src="https://cdn.abjjad.com/pub/df2ed503-85c5-461c-ba16-91f2488aa09e-192X290.png" alt="">
                  </a>
                </div>
                  <p class="mb-4 text-xl leading-8 font-heading font-medium hover:underline">Smartwatch Uistore Homme Watch 19</p>

                <p class="text-xl text-blue-500 font-heading font-medium tracking-tighter">
                  <span class="text-base pr-2">EG</span>
                  <span>120.90</span>
                </p>
              </div>
              <div class="w-full sm:w-1/2 xl:w-1/6 px-3">
                <div class="xl:flex xl:items-center   mb-8 bg-pink-400 rounded-3xl">
                  <a class="block mx-auto max-w-max" href="#">
                    <img class="h-30 w-100 object-cover rounded-3xl" src="https://cdn.abjjad.com/pub/df2ed503-85c5-461c-ba16-91f2488aa09e-192X290.png" alt="">
                  </a>
                </div>
                  <p class="mb-4 text-xl leading-8 font-heading font-medium hover:underline">Smartwatch Uistore Homme Watch 19</p>

                <p class="text-xl text-blue-500 font-heading font-medium tracking-tighter">
                  <span class="text-base pr-2">EG</span>
                  <span>120.90</span>
                </p>
              </div>



            </div>
          </div>

    </div>


</section>
