<section class="p-8 bg-gray-200 min-h-screen flex items-center justify-center">
  <div class="max-w-lg w-full bg-white p-8 rounded-lg shadow-lg">
    <h2 class="text-3xl font-semibold text-center text-gray-800 mb-6">
      Reset Password
    </h2>

    <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
      <div *ngIf="resetMessage" class="text-center mb-3">
        <p
          [ngClass]="{
            'text-green-600 font-bold': resetMessage.includes('success'),
            'text-red-600 font-bold': !resetMessage.includes('success')
          }"
        >
          {{ resetMessage }}
        </p>
      </div>

      <div class="mb-6 relative">
        <label
          for="password"
          class="block text-gray-700 text-lg font-medium mb-2"
          >New Password</label
        >
        <div class="relative">
          <input
            id="password"
            [type]="passwordVisible ? 'text' : 'password'"
            formControlName="password"
            placeholder="Enter new password"
            class="w-full px-4 py-2 pr-12 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
          />
          <button
            type="button"
            (click)="togglePasswordVisibility('password')"
            class="absolute inset-y-0 right-0 px-3 flex items-center"
          >
            <i
              [ngClass]="passwordVisible ? 'fas fa-eye-slash' : 'fas fa-eye'"
              class="text-gray-600"
            ></i>
          </button>
        </div>
        <div
          *ngIf="
            resetForm.get('password')?.touched &&
            resetForm.get('password')?.invalid
          "
          class="text-red-600 text-sm mt-2"
        >
          <p *ngIf="resetForm.get('password')?.hasError('required')">
            Password is required.
          </p>
          <p
            *ngIf="
              resetForm.get('password')?.touched &&
              resetForm.get('password')?.hasError('pattern')
            "
            class="text-red-500 text-sm italic mt-1"
          >
            Must contain at least:<br />
            -One number.<br />
            -One capital character.<br />
            -Use 8 characters or more for your password.
          </p>
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="mb-6 relative">
        <label
          for="confirmPassword"
          class="block text-gray-700 text-lg font-medium mb-2"
          >Confirm Password</label
        >
        <div class="relative">
          <input
            id="confirmPassword"
            [type]="confirmPasswordVisible ? 'text' : 'password'"
            formControlName="confirmPassword"
            placeholder="Confirm new password"
            class="w-full px-4 py-2 pr-12 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
          />
          <button
            type="button"
            (click)="togglePasswordVisibility('confirmPassword')"
            class="absolute inset-y-0 right-0 px-3 flex items-center"
          >
            <i
              [ngClass]="
                confirmPasswordVisible ? 'fas fa-eye-slash' : 'fas fa-eye'
              "
              class="text-gray-600"
            ></i>
          </button>
        </div>
        <div
          *ngIf="
            resetForm.get('confirmPassword')?.touched &&
            resetForm.get('confirmPassword')?.invalid
          "
          class="text-red-600 text-sm mt-2"
        >
          <p *ngIf="resetForm.get('confirmPassword')?.hasError('required')">
            Confirmation is required.
          </p>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="mb-6">
        <button
          type="submit"
          [disabled]="isLoading"
          class="w-full py-3 px-4 bg-blue-600 text-white font-semibold rounded-md shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 disabled:bg-gray-400"
        >
          <span *ngIf="isLoading" class="animate-spin">Submitting...</span>
          <span *ngIf="!isLoading">Reset Password</span>
        </button>
      </div>
    </form>
  </div>
</section>
