<section
  class="p-8 min-h-screen flex items-center justify-center bg-cover bg-center opacity-85"
  style="background-image: url('../../../../assets/images/Reset-password.jpg')"
>
  <div class="max-w-lg w-full bg-white p-8 rounded-lg shadow-lg opacity-90">
    <h2 class="text-3xl font-semibold text-center text-gray-800 mb-6">
      {{ "reset-password.Reset Password" | translate }}
    </h2>

    <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
      <div *ngIf="resetMessage" class="text-center mb-3">
        <p
          [ngClass]="{
            'text-green-600 font-bold': resetMessage.includes('success'),
            'text-red-600 font-bold': !resetMessage.includes('success')
          }"
        >
          {{ resetMessage }}
        </p>
      </div>

      <div class="mb-6 relative opacity-100">
        <label
          for="password"
          class="block text-gray-700 text-lg font-medium mb-2"
        >
          {{ "reset-password.New Password" | translate }}
        </label>
        <div class="relative">
          <input
            id="password"
            [type]="passwordVisible ? 'password' : 'text'"
            formControlName="password"
            placeholder="{{ 'reset-password.Enter new password' | translate }}"
            class="w-full px-4 py-2 pr-12 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
          />
          <button
            type="button"
            (click)="togglePasswordVisibility('password')"
            class="absolute inset-y-0 right-0 px-3 flex items-center"
          >
            <i
              [ngClass]="passwordVisible ? 'fas fa-eye-slash' : 'fas fa-eye'"
              class="text-gray-600"
            ></i>
          </button>
        </div>
        <div
          *ngIf="
            resetForm.get('password')?.touched &&
            resetForm.get('password')?.invalid
          "
          class="text-red-600 text-sm mt-2"
        >
          <p *ngIf="resetForm.get('password')?.hasError('required')">
            {{ "reset-password.Password is required." | translate }}
          </p>
          <p
            *ngIf="
              resetForm.get('password')?.touched &&
              resetForm.get('password')?.hasError('pattern')
            "
            class="text-red-500 text-sm italic mt-1"
          >
            {{ "reset-password.Must contain at least:" | translate }}<br />
            -{{ "reset-password.One number." | translate }}<br />
            -{{ "reset-password.One capital character." | translate }}<br />
            -{{
              "reset-password.Use 8 characters or more for your password."
                | translate
            }}
          </p>
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="mb-6 relative">
        <label
          for="confirmPassword"
          class="block text-gray-700 text-lg font-medium mb-2"
        >
          {{ "reset-password.Confirm Password" | translate }}
        </label>
        <div class="relative">
          <input
            id="confirmPassword"
            [type]="confirmPasswordVisible ? 'password' : 'text'"
            formControlName="confirmPassword"
            placeholder="{{
              'reset-password.Confirm new password' | translate
            }}"
            class="w-full px-4 py-2 pr-12 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
          />
          <button
            type="button"
            (click)="togglePasswordVisibility('confirmPassword')"
            class="absolute inset-y-0 right-0 px-3 flex items-center"
          >
            <i
              [ngClass]="
                confirmPasswordVisible ? 'fas fa-eye-slash' : 'fas fa-eye'
              "
              class="text-gray-600"
            ></i>
          </button>
        </div>
        <div
          *ngIf="
            resetForm.get('confirmPassword')?.touched &&
            resetForm.get('confirmPassword')?.invalid
          "
          class="text-red-600 text-sm mt-2"
        >
          <p *ngIf="resetForm.get('confirmPassword')?.hasError('required')">
            {{ "reset-password.Confirmation is required." | translate }}
          </p>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="mb-6">
        <button
          type="submit"
          [disabled]="isLoading"
          class="w-full py-3 px-4 bg-blue-600 text-white font-semibold rounded-md shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 disabled:bg-gray-400"
        >
          <span *ngIf="isLoading" class="animate-spin">{{
            "reset-password.Submitting..." | translate
          }}</span>
          <span *ngIf="!isLoading">{{
            "reset-password.Reset Password" | translate
          }}</span>
        </button>
      </div>
    </form>
  </div>
</section>
