<div class="book-card mt-6 bg-light-200 dark:bg-dark-800 rounded" style="box-shadow: 0px 0px 20px #00000012;">
  <div class="p-2 relative">
    @if (bookStock === 0) {
    <span class="absolute top-6 left-0 bg-red-700 text-gray-100 py-1 ps-1.5 pe-4 rounded-e-lg z-50">Out Of Stock</span>
    }
    <!-- @else {
      <span class="absolute top-6 left-0 bg-green-600 text-gray-100 py-1 ps-1.5 pe-4 rounded-e-lg z-50">Book In Stock</span>
    } -->
    <div class="relative overflow-hidden bg-light-300 dark:bg-dark-700 img-holder">
      <div style="width: 80%; margin: auto;" class="py-4">
        @if (bookCoverImg) {
        <img class="block mx-auto lg:w-40 h-60 dark:text-white" [src]="bookCoverImg" [alt]="bookTitle">
        }@else {
        <img class="block mx-auto lg:w-40 h-60 dark:text-white" src="assets/images/bookImageNotFound.png"
          [alt]="bookTitle">
        }
      </div>

    </div>
  </div>
  <div class="book-content p-5">
    @if (bookCategory) {
    <p class="text-sm text-gray-500 dark:text-gray-300">{{bookCategory}}</p>
    }
    @if (bookTitle) {
    <h5 class="text-gray-900 text-base font-bold truncate my-1 cursor-pointer hover:text-blue-600 dark:text-gray-400"
      (click)="goToDetails(bookId)">{{bookTitle}}</h5>
    }
    @if (authorName) {
    <h6 class="text-gray-500 mb-1 text-sm dark:text-gray-300">{{authorName}}</h6>
    }
    @if (bookPrice) {
    <p class="text-blue-600 font-semibold dark:text-blue-300"> <span class="text-xl">{{bookPrice}}</span> L.E</p>
    }
    @if (bookRating) {
    <p class="text-gray-400 text-sm font-semibold flex justify-between dark:text-gray-200">
      <span>
        @for (star of starArray; track $index) {
        @if (star === 1) {
        <i class="fa-solid fa-star text-yellow-500"></i>
        }
        @if (star === .5) {
        <i class="fa-regular fa-star-half-stroke text-yellow-500"></i>
        }
        @if (star === 0) {
        <i class="fa-regular fa-star text-yellow-500"></i>
        }
        }

      </span>
      <span> <span class="text-gray-700 dark:text-gray-300">{{bookRating}}</span>
        {{"book-card.Reviews"|translate}}</span>
    </p>
    }
  </div>
  <div class="pb-3 px-1 w-full">
    <div class="flex w-full items-center">
      <div (click)="goToDetails(bookId)"
        class="hover:scale-105 hover:transition cursor-pointer w-full p-2 mx-1 text-center bg-neutral-800 text-sm text-white font-semibold rounded shadow-md hover:bg-neutral-950 focus:outline-none  focus:ring-opacity-75">
        {{"book-card.More Details"|translate}}
        <i class="fa-regular fa-eye text-lg"></i>
      </div>
      <div class="btn-animation">
        <app-add-to-cart-btn [bookId]="bookId" [stock]="bookStock"
          class="p-2 mx-1 bg-zinc-200 text-sm text-black font-semibold rounded shadow-md hover:bg-zinc-900 hover:text-white focus:outline-none  focus:ring-opacity-75"></app-add-to-cart-btn>
      </div>
      <div class="btn-animation">
        <app-add-to-wishlist-btn [bookId]="bookId"
          class="p-2 mx-1 bg-zinc-200 text-sm text-black font-semibold rounded shadow-md hover:bg-zinc-900 hover:text-white focus:outline-none  focus:ring-opacity-75"></app-add-to-wishlist-btn>
      </div>
    </div>
  </div>
</div>