
.curved-div {
  position: relative;
  color: #0a0a0a;
  width: fit-content;
  height: 100%;
  background: white;
  display: grid;
  place-items: center;
}

.curved-div::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -20px;
  height: 20px;
  width: 20px;
  background: transparent;
  rotate: 270deg;
  transform: rotateX(180deg);
  border-bottom-left-radius: 50%;

  box-shadow: 0 10px 0 0 white;
}

.curved-div::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -20px;
  height: 20px;
  width: 20px;
  background: transparent;
  rotate: 270deg;
  // transform: rotateX(180deg);
  border-bottom-left-radius: 50%;

  box-shadow: 0 10px 0 0 white;
}
/*======================================================
                     Responsive Mobile Menu 
    ======================================================*/
    .overlay-menu li a:before,
    .overlay-menu li a:after {
      content: '';
      position: absolute;
      width: 0%;
      height: .1rem;
      bottom: -1px;
      background: rgb(13, 26, 38);
    }
    
    .overlay-menu li a:before {
      left: 0;
      transition: 0.5s;
    }
    
    .overlay-menu li a:after {
      background: rgb(13, 26, 38);
      right: 0;
    }
    
    .overlay-menu li a:hover:before {
      background: rgb(13, 26, 38);
      width: 100%;
      transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
    }
    
    .overlay-menu li a:hover:after {
      background: transparent;
      width: 100%;
    }
    
    

.overlay-menu-black {
  position: fixed; 
  top: 0;
  right: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.8); 
  display: block;
  transition: transform 0.3s ease; 
  z-index: 2000; 
  &.hidden {
    display: none; 
  }
}


.overlay-menu.enNav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  width: 70%;
  height: 100vh;
  transition: transform 0.2s ease-out;
  z-index: 100000;
}

.overlay-menu.enNav.active {
  left: 0;
  transform: translateX(0);
  transition: transform 0.2s ease-out;

}

.overlay-menu.arNav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  transform: translateX(100%);
  width: 70vw;
  height: 100vh;
  transition: transform 0.2s ease-out;
  z-index: 100000;
}

.overlay-menu.arNav.active {
  right: 0;
  transform: translateX(0);
  transition: transform 0.2s ease-out;

}

.overlay-menu ul,
.overlay-menu li {
  display: block;
  position: relative;
  width: 100%;
}

.overlay-menu li a {
  display: block;
  font-size: 1.8em;
  letter-spacing: 1px;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: color 0.3s ease;
  text-decoration: none;
  margin-bottom: 10px;
}
