<header class="header navbar-area">
    <div class="topbar bg-[#081828] dark:bg-[#0a0a0a]">
        <div class="container mx-auto">
            <div class="flex flex-wrap items-center justify-center">
                <div class="w-full lg:w-1/3 md:w-1/3">
                    <div class="top-left">
                        <ul class="menu-top-link">
                            <li>
                                <div class="select-position">
                                    <select name="" id="select4" class="bg-[#081828] dark:bg-[#0a0a0a]">
                                        @for (item of currencies; track item){
                                            <option value="0" selected>{{item}}</option>
                                        }
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="select-position">
                                    <select id="select5" class="bg-[#081828] dark:bg-[#0a0a0a]">
                                        @for (item of languages; track item){
                                            <option value="0">{{item}}</option>
                                        }
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="select-position">
                                    @if(isDarkMode == true){
                                        <i class="fa-solid fa-moon text-white"></i>
                                    }@else {
                                        <i class="fa-solid fa-sun text-white"></i>
                                    }
                                    <select id="select5" class="appearance-none" class="bg-[#081828] dark:bg-[#0a0a0a]" (change)="toggleDarkMode($event)">
                                            <option value="dark">Dark</option>
                                            <option value="light">Light</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="w-full lg:w-1/3 md:w-1/3">
                    <div class="top-middle">
                        <ul class="useful-links">
                            <li><a routerLink="/home" routerLinkActive="text-blue-800">Home</a></li>
                            <li><a routerLink="/about" routerLinkActive="text-blue-800">About Us</a></li>
                            <li>
                                <a routerLink="/contact" routerLinkActive="text-blue-800">Contact Us</a>
                            </li>
                            <li>
                                <a routerLink="/books" routerLinkActive="text-blue-800">Books</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="w-full lg:w-1/3 md:w-1/3">
                    <div class="top-end">
                        @if(isLogedIn == true){
                            <div class="user flex items-center space-x-2">
                                <i class="fa-regular fa-user"></i>
                                <span>Hello</span>
                            </div>
                        }
                        <ul class="user-login">
                            @if(isLogedIn == false){
                                <li><a routerLink="/signin" routerLinkActive="text-blue-800" >Sign In</a></li>
                                <li><a routerLink="/signup" routerLinkActive="text-blue-800" >Register</a></li>
                            }@else{
                                <li><a routerLink="/signin" routerLinkActive="text-blue-800" (click)="logOut()">Log Out</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
