<!-- <<<<<<< User-Settings1
<!-- <header class="header navbar-area">
  <div class="topbar bg-[#081828] dark:bg-[#0a0a0a]">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center justify-center">
        <div class="w-full lg:w-1/3 md:w-1/3">
          <div class="top-left">
            <ul class="menu-top-link">
              <li>
                <div class="select-position">
                  <select
                    name=""
                    id="select4"
                    class="bg-[#081828] dark:bg-[#0a0a0a]"
                  >
                    @for (item of currencies; track item){
                    <option value="0" selected>{{ item }}</option>
                    }
                  </select>
                </div>
              </li>
              <li>
                <div class="select-position">
                  <select id="select5" class="bg-[#081828] dark:bg-[#0a0a0a]">
                    @for (item of languages; track item){
                    <option value="0">{{ item }}</option>
                    }
                  </select>
                </div>
              </li>
              <li>
                <div class="select-position">
                  @if(isDarkMode == true){
                  <i class="fa-solid fa-moon text-white"></i>
                  }@else {
                  <i class="fa-solid fa-sun text-white"></i>
                  }
                  <select
                    id="select5"
                    class="appearance-none"
                    class="bg-[#081828] dark:bg-[#0a0a0a]"
                    (change)="toggleDarkMode($event)"
                  >
                    <option value="dark">Dark</option>
                    <option value="light">Light</option>
                  </select>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    
    <div class="w-full lg:w-1/3 md:w-1/3">
      <div class="top-middle">
        <ul class="useful-links flex space-x-4">
          <li>
            <a routerLink="/home" routerLinkActive="text-blue-800">Home</a>
          </li>
          <li>
            <a routerLink="/about" routerLinkActive="text-blue-800">About Us</a>
          </li>
          <li>
            <a routerLink="/contact" routerLinkActive="text-blue-800"
              >Contact Us</a
            >
          </li>
          <li>
            <a routerLink="/books" routerLinkActive="text-blue-800">Books</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="w-full lg:w-1/3 md:w-1/3">
      <div class="top-end">
        <ul class="user-login flex items-center space-x-2">
          <li *ngIf="isLoggedIn">
            <div class="relative">
              <button (click)="toggleDropdown()" class="flex items-center">
                <img
                  class="w-10 h-10 rounded-full object-cover"
                  src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80"
                  alt="User Avatar"
                />
              </button>
              <div *ngIf="isDropdownOpen" class="dropdown-content">
                <a routerLink="/settings" routerLinkActive="text-blue-800">
                  <i class="fas fa-cog mr-2"></i> Settings
                </a>
                <a
                  routerLink="/cart"
                  routerLinkActive="text-blue-800"
                  class="text-slate-800"
                >
                  <i class="fas fa-shopping-cart mr-2"></i> My Cart
                </a>
                <a
                  (click)="logout()"
                  class="flex items-center p-2 text-black hover:text-blue-600 cursor-pointer"
                >
                  <i class="fas fa-sign-out-alt me-2"></i> Log Out
                </a>
              </div>
            </div>
          </li>
          <li *ngIf="!isLoggedIn">
            <a routerLink="/signin" routerLinkActive="text-blue-800">
              <i class="fas fa-sign-in-alt mr-2"></i> Sign In
            </a>
          </li>
          <li *ngIf="!isLoggedIn">
            <a routerLink="/signup" routerLinkActive="text-blue-800">
              <i class="fas fa-user-plus mr-2"></i> Register
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
-->

<!-- <header
  class="header navbar-area transition-mode"
  [ngClass]="{
    'dark-mode': isDarkMode,
    'light-mode': !isDarkMode,
    'fade-in': isFadeIn,
    'fade-out': isFadeOut
  }"
>
  <div class="topbar bg-[#eee] dark:bg-[#0a0a0a]">

    <div class="container mx-auto px-4 py-1">
      <div class="flex flex-wrap items-center justify-center gap-y-3">
        <div class="w-full lg:w-[25%] md:w-[25%] flex items-center justify-center md:justify-normal">
          <ul class="flex">
            <li>
              <select
                id="select5"
                class="bg-[#eee] dark:bg-[#0a0a0a] dark:border-white dark:dark:text-white p-2 rounded outline-none"
              >
                @for (item of languages; track item){
                <option value="0">{{ item }}</option>
                }
              </select>
            </li> 
            <li>
              <button
                class="flex items-center dark:bg-[#0a0a0a] dark:dark:text-white p-3 rounded"
                (click)="toggleDarkMode()"
              >
                <i class="fa-solid fa-sun text-xl" *ngIf="!isDarkMode"></i>
                <i class="fa-solid fa-moon text-xl" *ngIf="isDarkMode"></i>
              </button>
            </li>
          </ul>
        </div>

        <div class="w-full lg:w-[50%] md:w-[50%] flex justify-center">
          <ul class="flex">
            <li>
              <a
                routerLink="/home"
                routerLinkActive="bg-blue-600 text-white rounded-md"
                class="dark:text-white tracking-wider p-3 grid items-center justify-center transition-colors duration-300"
              >
                Home
              </a>
            </li>
            <li>
              <a
                routerLink="/about"
                routerLinkActive="bg-blue-600 text-white rounded-md"
                class="dark:text-white tracking-wider p-3 grid place-items-center transition-colors duration-300"
              >
                About Us
              </a>
            </li>
            <li>
              <a
                routerLink="/contact"
                routerLinkActive="bg-blue-600 text-white rounded-md"
                class="dark:text-white tracking-wider p-3 grid place-items-center transition-colors duration-300"
              >
                Contact Us
              </a>
            </li>
            <li>
              <a
                routerLink="/books"
                routerLinkActive="bg-blue-600 text-white rounded-md"
                class="dark:text-white tracking-wider p-3 grid place-items-center transition-colors duration-300"
              >
                Books
              </a>
            </li>
          </ul>
        </div>

        <div class="w-full lg:w-[25%] md:w-[25%] flex items-center justify-center md:justify-end"> 
          <ul class="flex items-center space-x-4">
            <li *ngIf="isLoggedIn">
              <div class="relative z-50 me-4">
                <button (click)="toggleDropdown()" class="flex items-center">
                  @if(profileImage){
                    <img
                    class="w-10 h-10 rounded-full object-cover"
                    [src]="profileImage"
                    alt="User Avatar"
                  />
                  }@else{
                    <img
                    class="w-10 h-10 rounded-full object-cover"
                    src="../../../assets/images/blank-profile-picture.webp"
                    alt="User Avatar"
                  />
                  }

                </button>
                <div
                  *ngIf="isDropdownOpen"
                  class="absolute right-0 top-full mt-2 w-48 bg-white dark:bg-gray-800 text-black dark:dark:text-white rounded-lg shadow-lg p-2 z-50"
                >
                  <a
                    routerLink="/user-settings"
                    routerLinkActive="text-blue-800 bg-blue-700"
                    class="block p-2 rounded hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors duration-300"
                  >
                    <i class="fas fa-cog mr-2"></i> Settings
                  </a>
                  <a
                    routerLink="/cart"
                    routerLinkActive="text-blue-800 bg-blue-100"
                    class="block p-2 rounded hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors duration-300"
                  >
                    <i class="fas fa-shopping-cart mr-2"></i> My Cart
                  </a>
                  <a
                    (click)="logout()"
                    class="block p-2 rounded cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors duration-300"
                  >
                    <i class="fas fa-sign-out-alt mr-2"></i> Log Out
                  </a>
                </div>
              </div>
            </li>
            <li *ngIf="!isLoggedIn">
              <a
                routerLink="/signin"
                routerLinkActive="text-dark bg-[#f9f9f9] dark:text-white dark:bg-[#0e2134]"
                class="dark:text-white px-4 py-5 transition-colors duration-300"
              >
                <i class="fas fa-sign-in-alt mr-1"></i> Login
              </a>
            </li>
            <li *ngIf="!isLoggedIn">
              <a
                routerLink="/signup"
                routerLinkActive="text-white bg-slate-700 dark:bg-[#081828]"
                class="dark:text-white px-3 py-5 rounded transition-colors duration-300"
              >
                <i class="fas fa-user-plus mr-1"></i> Register
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header> -->



<header
  class="header navbar-area transition-mode"
  [ngClass]="{
    'dark-mode': isDarkMode,
    'light-mode': !isDarkMode,
    'fade-in': isFadeIn,
    'fade-out': isFadeOut
  }"
>
  <div class="topbar bg-[#eee] dark:bg-[#0a0a0a]">
    <div class="container mx-auto px-4 py-1">
      <div class="flex items-center flex-wrap md:flex-nowrap justify-between gap-y-3">
        <!-- First Column (Language & Dark Mode Toggle) -->
        <div class="flex items-center space-x-4  order-2 md:order-none">
          <ul class="flex">
            <li>
              <select
                id="select5"
                class="bg-[#eee] dark:bg-[#0a0a0a] dark:border-white dark:dark:text-white p-2 rounded outline-none"
              >
                @for (item of languages; track item){
                <option value="0">{{ item }}</option>
                }
              </select>
            </li>
            <li>
              <button
                class="flex items-center dark:bg-[#0a0a0a] dark:dark:text-white p-3 rounded"
                (click)="toggleDarkMode()"
              >
                <i class="fa-solid fa-sun text-xl" *ngIf="!isDarkMode"></i>
                <i class="fa-solid fa-moon text-xl" *ngIf="isDarkMode"></i>
              </button>
            </li>
          </ul>
        </div>

        <!-- Burger Icon for Mobile -->
        <div class="md:hidden order-3 md:order-none">
          <button (click)="toggleMobileMenu()" class="p-3 focus:outline-none">
            <i class="fas fa-bars text-3xl dark:text-white"></i>
          </button>
        </div>

        <!-- Links (Hidden on small screens) -->
        <div
          class="hidden md:flex justify-center items-center w-full order-3 md:order-none"
          [ngClass]="{ 'block': isMobileMenuOpen, 'hidden': !isMobileMenuOpen }"
        >
          <ul class="flex flex-col md:flex-row items-center md:space-x-8 space-y-4 md:space-y-0">
            <li>
              <a
                routerLink="/home"
                routerLinkActive="bg-blue-600 text-white rounded-md"
                class="dark:text-white tracking-wider p-3 grid items-center justify-center transition-colors duration-300"
              >
                Home
              </a>
            </li>
            <li>
              <a
                routerLink="/about"
                routerLinkActive="bg-blue-600 text-white rounded-md"
                class="dark:text-white tracking-wider p-3 grid place-items-center transition-colors duration-300"
              >
                About Us
              </a>
            </li>
            <li>
              <a
                routerLink="/contact"
                routerLinkActive="bg-blue-600 text-white rounded-md"
                class="dark:text-white tracking-wider p-3 grid place-items-center transition-colors duration-300"
              >
                Contact Us
              </a>
            </li>
            <li>
              <a
                routerLink="/books"
                routerLinkActive="bg-blue-600 text-white rounded-md"
                class="dark:text-white tracking-wider p-3 grid place-items-center transition-colors duration-300"
              >
                Books
              </a>
            </li>
          </ul>
        </div>

        <!-- Third Column (User Profile and Login/Register) -->
        <div class="flex items-center space-x-4 order-1 md:order-none">
          <ul class="flex items-center space-x-4">
            <li *ngIf="isLoggedIn">
              <!-- User Dropdown -->
              <div class="relative z-50">
                <button (click)="toggleDropdown()" class="flex items-center">
                  <img
                    class="md:w-12 w-10 h-10 rounded-full object-cover"
                    [src]="profileImage || '../../../assets/images/blank-profile-picture.webp'"
                    alt="User Avatar"
                  />
                </button>
                <div
                  *ngIf="isDropdownOpen"
                  class="absolute right-0 top-full mt-2 w-48 bg-white dark:bg-gray-800 text-black dark:dark:text-white rounded-lg shadow-lg p-2 z-50"
                >
                  <a
                    routerLink="/user-settings"
                    routerLinkActive="text-blue-800 bg-blue-700"
                    class="block p-2 rounded hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors duration-300"
                  >
                    <i class="fas fa-cog mr-2"></i> Settings
                  </a>
                  <a
                    routerLink="/cart"
                    routerLinkActive="text-blue-800 bg-blue-100"
                    class="block p-2 rounded hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors duration-300"
                  >
                    <i class="fas fa-shopping-cart mr-2"></i> My Cart
                  </a>
                  <a
                    (click)="logout()"
                    class="block p-2 rounded cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors duration-300"
                  >
                    <i class="fas fa-sign-out-alt mr-2"></i> Log Out
                  </a>
                </div>
              </div>
            </li>
            <li *ngIf="!isLoggedIn">
              <a
                routerLink="/signin"
                routerLinkActive="text-dark bg-[#f9f9f9] dark:text-white dark:bg-[#0e2134]"
                class="dark:text-white px-4 py-5 transition-colors duration-300"
              >
                <i class="fas fa-sign-in-alt mr-1"></i> Login
              </a>
            </li>
            <li *ngIf="!isLoggedIn">
              <a
                routerLink="/signup"
                routerLinkActive="text-white bg-slate-700 dark:bg-[#081828]"
                class="dark:text-white px-3 py-5 rounded transition-colors duration-300"
              >
                <i class="fas fa-user-plus mr-1"></i> Register
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

