<!-- <header class="header navbar-area">
  <div class="topbar bg-[#081828] dark:bg-[#0a0a0a]">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center justify-center">
        <div class="w-full lg:w-1/3 md:w-1/3">
          <div class="top-left">
            <ul class="menu-top-link">
              <li>
                <div class="select-position">
                  <select
                    name=""
                    id="select4"
                    class="bg-[#081828] dark:bg-[#0a0a0a]"
                  >
                    @for (item of currencies; track item){
                    <option value="0" selected>{{ item }}</option>
                    }
                  </select>
                </div>
              </li>
              <li>
                <div class="select-position">
                  <select id="select5" class="bg-[#081828] dark:bg-[#0a0a0a]">
                    @for (item of languages; track item){
                    <option value="0">{{ item }}</option>
                    }
                  </select>
                </div>
              </li>
              <li>
                <div class="select-position">
                  @if(isDarkMode == true){
                  <i class="fa-solid fa-moon text-white"></i>
                  }@else {
                  <i class="fa-solid fa-sun text-white"></i>
                  }
                  <select
                    id="select5"
                    class="appearance-none"
                    class="bg-[#081828] dark:bg-[#0a0a0a]"
                    (change)="toggleDarkMode($event)"
                  >
                    <option value="dark">Dark</option>
                    <option value="light">Light</option>
                  </select>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    
    <div class="w-full lg:w-1/3 md:w-1/3">
      <div class="top-middle">
        <ul class="useful-links flex space-x-4">
          <li>
            <a routerLink="/home" routerLinkActive="text-blue-800">Home</a>
          </li>
          <li>
            <a routerLink="/about" routerLinkActive="text-blue-800">About Us</a>
          </li>
          <li>
            <a routerLink="/contact" routerLinkActive="text-blue-800"
              >Contact Us</a
            >
          </li>
          <li>
            <a routerLink="/books" routerLinkActive="text-blue-800">Books</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="w-full lg:w-1/3 md:w-1/3">
      <div class="top-end">
        <ul class="user-login flex items-center space-x-2">
          <li *ngIf="isLoggedIn">
            <div class="relative">
              <button (click)="toggleDropdown()" class="flex items-center">
                <img
                  class="w-10 h-10 rounded-full object-cover"
                  src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80"
                  alt="User Avatar"
                />
              </button>
              <div *ngIf="isDropdownOpen" class="dropdown-content">
                <a routerLink="/settings" routerLinkActive="text-blue-800">
                  <i class="fas fa-cog mr-2"></i> Settings
                </a>
                <a
                  routerLink="/cart"
                  routerLinkActive="text-blue-800"
                  class="text-slate-800"
                >
                  <i class="fas fa-shopping-cart mr-2"></i> My Cart
                </a>
                <a
                  (click)="logout()"
                  class="flex items-center p-2 text-black hover:text-blue-600 cursor-pointer"
                >
                  <i class="fas fa-sign-out-alt me-2"></i> Log Out
                </a>
              </div>
            </div>
          </li>
          <li *ngIf="!isLoggedIn">
            <a routerLink="/signin" routerLinkActive="text-blue-800">
              <i class="fas fa-sign-in-alt mr-2"></i> Sign In
            </a>
          </li>
          <li *ngIf="!isLoggedIn">
            <a routerLink="/signup" routerLinkActive="text-blue-800">
              <i class="fas fa-user-plus mr-2"></i> Register
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
 -->
<header
  class="header navbar-area transition-mode"
  [ngClass]="{
    'dark-mode': isDarkMode,
    'light-mode': !isDarkMode,
    'fade-in': isFadeIn,
    'fade-out': isFadeOut
  }"
>
  <div class="topbar bg-[#2f3132] dark:bg-[#0a0a0a] py-2">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap items-center justify-between">
        <!-- First Column -->
        <div class="w-full lg:w-1/3 md:w-1/3 flex items-center">
          <ul class="flex space-x-4">
            <li>
              <select
                id="select5"
                class="bg-[#081828] dark:bg-[#0a0a0a] text-white p-2 rounded"
              >
                @for (item of languages; track item){
                <option value="0">{{ item }}</option>
                }
              </select>
            </li>
            <li>
              <button
                class="flex items-center bg-[#081828] dark:bg-[#0a0a0a] text-white p-2 rounded"
                (click)="toggleDarkMode()"
              >
                <i class="fa-solid fa-sun text-xl" *ngIf="!isDarkMode"></i>
                <i class="fa-solid fa-moon text-xl" *ngIf="isDarkMode"></i>
              </button>
            </li>
          </ul>
        </div>

        <!-- Second Column -->
        <div class="w-full lg:w-1/3 md:w-1/3 flex justify-center">
          <ul class="flex space-x-6">
            <li>
              <a
                routerLink="/home"
                routerLinkActive="text-blue-800"
                class="text-white"
              >
                Home
              </a>
            </li>
            <li>
              <a
                routerLink="/about"
                routerLinkActive="text-blue-800"
                class="text-white"
              >
                About Us
              </a>
            </li>
            <li>
              <a
                routerLink="/contact"
                routerLinkActive="text-blue-800"
                class="text-white"
              >
                Contact Us
              </a>
            </li>
            <li>
              <a
                routerLink="/books"
                routerLinkActive="text-blue-800"
                class="text-white"
              >
                Books
              </a>
            </li>
          </ul>
        </div>

        <!-- Third Column -->
        <div class="w-full lg:w-1/3 md:w-1/3 flex items-center justify-end">
          <ul class="flex items-center space-x-4">
            <li *ngIf="isLoggedIn">
              <div class="relative">
                <button (click)="toggleDropdown()" class="flex items-center">
                  <img
                    class="w-10 h-10 rounded-full object-cover"
                    src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80"
                    alt="User Avatar"
                  />
                </button>
                <div
                  *ngIf="isDropdownOpen"
                  class="dropdown-content absolute right-0 mt-2 bg-white dark:bg-gray-800 text-black dark:text-white shadow-lg rounded-lg p-2"
                >
                  <a
                    routerLink="/settings"
                    routerLinkActive="text-blue-800"
                    class="block p-2 hover:bg-gray-200 dark:hover:bg-gray-700 rounded"
                  >
                    <i class="fas fa-cog mr-2"></i> Settings
                  </a>
                  <a
                    routerLink="/cart"
                    routerLinkActive="text-blue-800"
                    class="block p-2 hover:bg-gray-200 dark:hover:bg-gray-700 rounded"
                  >
                    <i class="fas fa-shopping-cart mr-2"></i> My Cart
                  </a>
                  <a
                    (click)="logout()"
                    class="block p-2 hover:bg-gray-200 dark:hover:bg-gray-700 rounded cursor-pointer"
                  >
                    <i class="fas fa-sign-out-alt mr-2"></i> Log Out
                  </a>
                </div>
              </div>
            </li>
            <li *ngIf="!isLoggedIn">
              <a
                routerLink="/signin"
                routerLinkActive="text-blue-800"
                class="text-white mr-2"
              >
                <i class="fas fa-sign-in-alt mr-1"></i> Login
              </a>
            </li>
            <li *ngIf="!isLoggedIn">
              <a
                routerLink="/signup"
                routerLinkActive="text-blue-800"
                class="text-white"
              >
                <i class="fas fa-user-plus mr-1"></i> Register
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
