<section class="relative bg-slate-700 dark:bg-[#081828] overflow-hidden">
  <div class="relative z-10 flex flex-wrap">
    <div class="w-full md:w-1/2">
      <div class="p-4 py-8 flex flex-col justify-evenly bg-gray-100 dark:bg-[#0e2134] h-full">
        <h1 class="text-4xl text-center py-2 mb-5 from-stone-700 font-semibold dark:text-gray-400">{{"signup.Register"|translate}}</h1>

        <form [formGroup]="registerForm" class="md:max-w-lg mx-auto">
          <label class="block mb-4">
            <div
              *ngIf="errRegMsg || successRegMsg"
              class="flex flex-col items-center p-4 mb-2"
            >
              <!-- Display error message -->
              <p
                *ngIf="errRegMsg"
                class="bg-red-600 text-white p-4 rounded-lg shadow-md text-center max-w-md w-full"
              >
                {{ errRegMsg }}
              </p>

              <!-- Display success message -->
              <p
                *ngIf="successRegMsg"
                class="bg-green-600 text-white p-4 rounded-lg shadow-md text-center max-w-md w-full mt-2"
              >
                {{ successRegMsg }}
              </p>
            </div>
          </label>
          <!--------------- First Name and Last Name Validation ------------------->
          <div class="flex space-x-4 mb-4">
            <label class="flex-1">
              <p class="mb-2 text-gray-900 font-semibold leading-normal dark:text-gray-400">
                {{"signup.First Name *"|translate}}
              </p>
              <input
                class="px-4 py-3.5 w-full text-gray-800 font-medium placeholder-gray-400 bg-white dark:bg-gray-300 outline-none border rounded-lg focus:ring focus:ring-indigo-300
                  {{
                  registerForm.get('fName')?.touched &&
                  !registerForm.get('fName')?.invalid
                    ? 'border-green-500'
                    : registerForm.get('fName')?.touched &&
                      registerForm.get('fName')?.invalid
                    ? 'border-red-500'
                    : 'border-gray-300'
                }}"
                id="first-name"
                type="text"
                placeholder="{{'signup.First name'|translate}}"
                formControlName="fName"
              />
              <p
                *ngIf="
                  registerForm.get('fName')?.touched &&
                  registerForm.get('fName')?.hasError('required')
                "
                class="text-red-500 text-sm italic mt-1"
              >
                {{"signup.First Name is required."|translate}}
              </p>
              <p
                *ngIf="
                  registerForm.get('fName')?.touched &&
                  registerForm.get('fName')?.hasError('pattern')
                "
                class="text-red-500 text-sm italic mt-1"
              >
                -{{"signup.must be 3-15 letters"|translate}}<br />
                -{{"signup.don't have spaces"|translate}}<br />
                -{{"signup.don't have special characters."|translate}}
              </p>
            </label>
            <label class="flex-1">
              <p class="mb-2 text-gray-900 font-semibold leading-normal dark:text-gray-400">
                {{"signup.Last Name *"|translate}}
              </p>
              <input
                class="px-4 py-3.5 w-full text-gray-800 font-medium placeholder-gray-400 bg-white dark:bg-gray-300 outline-none border rounded-lg focus:ring focus:ring-indigo-300
                  {{
                  registerForm.get('lName')?.touched &&
                  !registerForm.get('lName')?.invalid
                    ? 'border-green-500'
                    : registerForm.get('lName')?.touched &&
                      registerForm.get('lName')?.invalid
                    ? 'border-red-500'
                    : 'border-gray-300'
                }}"
                id="last-name"
                type="text"
                placeholder="{{'signup.Last name'|translate}}"
                formControlName="lName"
              />
              <p
                *ngIf="
                  registerForm.get('lName')?.touched &&
                  registerForm.get('lName')?.hasError('required')
                "
                class="text-red-500 text-sm italic mt-1"
              >
                {{"signup.Last Name is required."|translate}}
              </p>
              <p
                *ngIf="
                  registerForm.get('lName')?.touched &&
                  registerForm.get('lName')?.hasError('pattern')
                "
                class="text-red-500 text-sm italic mt-1"
              >
                -{{"signup.must be 3-15 letters"|translate}}<br />
                -{{"signup.don't have spaces"|translate}}<br />
                -{{"signup.don't have special characters."|translate}}
              </p>
            </label>
          </div>
          <!--------------- Email Validation ------------------->
          <label class="block mb-4">
            <p class="mb-2 text-gray-900 font-semibold leading-normal dark:text-gray-400">
              {{"signup.Email Address *"|translate}}
            </p>
            <input
              class="px-4 py-3.5 w-full text-gray-800 font-medium placeholder-gray-400 bg-white dark:bg-gray-300 outline-none border rounded-lg focus:ring focus:ring-indigo-300
                {{
                registerForm.get('email')?.touched &&
                !registerForm.get('email')?.invalid
                  ? 'border-green-500'
                  : registerForm.get('email')?.touched &&
                    registerForm.get('email')?.invalid
                  ? 'border-red-500'
                  : 'border-gray-300'
              }}"
              id="mail"
              type="text"
              placeholder="{{'signup.Enter email address'|translate}}"
              formControlName="email"
            />
            <!-- Error messages -->
            <p
              *ngIf="
                registerForm.get('email')?.touched &&
                registerForm.get('email')?.hasError('required')
              "
              class="text-red-500 text-sm italic mt-1"
            >
              {{"signup.Email is required."|translate}}
            </p>
            <p
              *ngIf="
                registerForm.get('email')?.touched &&
                registerForm.get('email')?.hasError('email')
              "
              class="text-red-500 text-sm italic mt-1"
            >
              {{"signup.Please Enter a Valid Email"|translate}}
            </p>
          </label>
          <!--------------- Password Validation ------------------->
          <label class="block mb-5">
            <p class="mb-2 text-gray-900 font-semibold leading-normal dark:text-gray-400">
              {{"signup.Password *"|translate}}
            </p>
            <input
              class="px-4 py-3.5 w-full text-gray-800 font-medium placeholder-gray-400 bg-white dark:bg-gray-300 outline-none border rounded-lg focus:ring focus:ring-indigo-300
                {{
                registerForm.get('password')?.touched &&
                !registerForm.get('password')?.invalid
                  ? 'border-green-500'
                  : registerForm.get('password')?.touched &&
                    registerForm.get('password')?.invalid
                  ? 'border-red-500'
                  : 'border-gray-300'
              }}"
              id="pass"
              type="password"
              placeholder="********"
              formControlName="password"
            />
            <!-- Error messages  -->
<!-- =======
            <div class="relative">
              <input
                class="px-4 py-3.5 w-full text-gray-800 font-medium placeholder-gray-400 bg-white outline-none border rounded-lg focus:ring focus:ring-indigo-300
                  {{
                  registerForm.get('password')?.touched &&
                  !registerForm.get('password')?.invalid
                    ? 'border-green-500'
                    : registerForm.get('password')?.touched &&
                      registerForm.get('password')?.invalid
                    ? 'border-red-500'
                    : 'border-gray-300'
                }}"
                [type]="hide ? 'password' : 'text'"
                id="pass"
                placeholder="********"
                formControlName="password"
              />
              <button
                type="button"
                (click)="toggleVisibility()"
                class="absolute inset-y-0 right-0 flex items-center px-3"
              >
                <i class="fa" [ngClass]="hide ? 'fa-eye-slash' : 'fa-eye'"></i>
              </button>
            </div>
           -->
       
            <p
              *ngIf="
                registerForm.get('password')?.touched &&
                registerForm.get('password')?.hasError('required')
              "
              class="text-red-500 text-sm italic mt-1"
            >
              {{"signup.Password is required."|translate}}
            </p>
            <p
              *ngIf="
                registerForm.get('password')?.touched &&
                registerForm.get('password')?.hasError('pattern')
              "
              class="text-red-500 text-sm italic mt-1"
            >
              {{"signup.Must contain at least:"|translate}}<br />
              -{{"signup.One number."|translate}}<br />
              -{{"signup.One capital character."|translate}}<br />
              -{{"signup.Use 8 characters or more for your password."|translate}}
            </p>
          </label>

          <!--------------- Confirm Password Validation ------------------->
          <label class="block mb-5">
            <p class="mb-2 text-gray-900 font-semibold leading-normal dark:text-gray-400">
              {{"signup.Confirm Password *"|translate}}
            </p>
            <input
              class="px-4 py-3.5 w-full text-gray-800 font-medium placeholder-gray-400 bg-white dark:bg-gray-300 outline-none border rounded-lg focus:ring focus:ring-indigo-300
                {{
                registerForm.get('rePassword')?.touched &&
                !registerForm.get('rePassword')?.invalid
                  ? 'border-green-500'
                  : registerForm.get('rePassword')?.touched &&
                    registerForm.get('rePassword')?.invalid
                  ? 'border-red-500'
                  : 'border-gray-300'
              }}"
              id="repass"
              type="password"
              placeholder="********"
              formControlName="rePassword"
            />
            <!-- Error messages  -->
<!--             <div class="relative">
              <input
                class="px-4 py-3.5 w-full text-gray-800 font-medium placeholder-gray-400 bg-white outline-none border rounded-lg focus:ring focus:ring-indigo-300
                  {{
                  registerForm.get('rePassword')?.touched &&
                  !registerForm.get('rePassword')?.invalid
                    ? 'border-green-500'
                    : registerForm.get('rePassword')?.touched &&
                      registerForm.get('rePassword')?.invalid
                    ? 'border-red-500'
                    : 'border-gray-300'
                }}"
                [type]="hideConfirm ? 'password' : 'text'"
                id="repass"
                placeholder="********"
                formControlName="rePassword"
              />
              <button
                type="button"
                (click)="toggleConfirmVisibility()"
                class="absolute inset-y-0 right-0 flex items-center px-3"
              >
                <i
                  class="fa"
                  [ngClass]="hideConfirm ? 'fa-eye-slash' : 'fa-eye'"
                ></i>
              </button>
            </div>
            <!-- Error messages -->
            <p
              *ngIf="
                registerForm.get('rePassword')?.touched &&
                registerForm.get('rePassword')?.hasError('required')
              "
              class="text-red-500 text-sm italic mt-1"
            >
              {{"signup.Field is required."|translate}}
            </p>
            <p
              *ngIf="
                registerForm.get('rePassword')?.touched &&
                registerForm.get('rePassword')?.hasError('matching')
              "
              class="text-red-500 text-sm italic mt-1"
            >
              {{"signup.Those passwords didn’t match. Try again."|translate}}
            </p>
          </label>

          <!--------------- Phone Number Validation ------------------->
          <label class="block mb-6">
            <p class="mb-2 text-gray-900 font-semibold leading-normal dark:text-gray-400">
              {{"signup.Phone Number *"|translate}}
            </p>
            <input
              class="px-4 py-3.5 w-full text-gray-800 font-medium placeholder-gray-400 bg-white dark:bg-gray-300 outline-none border rounded-lg focus:ring focus:ring-indigo-300
                {{
                registerForm.get('phone')?.touched &&
                !registerForm.get('phone')?.invalid
                  ? 'border-green-500'
                  : registerForm.get('phone')?.touched &&
                    registerForm.get('phone')?.invalid
                  ? 'border-red-500'
                  : 'border-gray-300'
              }}"
              id="phone"
              type="tel"
              placeholder="01234567891"
              formControlName="phone"
            />
            <!-- Error messages -->
            <p
              *ngIf="
                registerForm.get('phone')?.touched &&
                registerForm.get('phone')?.hasError('required')
              "
              class="text-red-500 text-sm italic mt-1"
            >
              {{"signup.Phone Number is required."|translate}}
            </p>
            <p
              *ngIf="
                registerForm.get('phone')?.touched &&
                registerForm.get('phone')?.hasError('pattern')
              "
              class="text-red-500 text-sm italic mt-1"
            >
              {{"signup.Please Enter a Valid Phone Number."|translate}}
            </p>
          </label>

          <div class="flex flex-wrap justify-between mb-4">
            <div class="w-full">
              <div class="flex items-center">
                <input
                  class="w-4 h-4"
                  id="default-checkbox"
                  type="checkbox"
                  formControlName="terms"
                />
                <label
                  class="ml-2 text-sm text-gray-900 dark:text-gray-400 font-medium"
                  for="default-checkbox"
                >
                  <span>{{"signup.By signing up, I agree to the"|translate}}</span>
                  <a class="text-indigo-600 hover:text-indigo-700" href="#"
                    >{{"signup.Terms & Conditions"|translate}}</a
                  >
                  <span> of Flaro</span>
                </label>
              </div>
              <!-- Error message for checkbox -->
              <p
                *ngIf="
                  registerForm.get('terms')?.touched &&
                  registerForm.get('terms')?.hasError('required')
                "
                class="text-red-500 text-sm italic mt-1"
              >
                {{"signup.You must agree to the terms and conditions."|translate}}
              </p>
            </div>
          </div>

          <button
            class="relative mb-8 py-4 px-9 w-full text-white font-semibold border border-indigo-700 rounded-xl shadow-4xl focus:ring focus:ring-indigo-300 bg-indigo-600 hover:bg-indigo-700 transition ease-in-out duration-200"
            type="button"
            (click)="register()"
            [disabled]="isLoading"
            [ngClass]="{
              'bg-indigo-600 text-white border-indigo-700 hover:bg-indigo-700':
                !isLoading,
              'bg-gray-400 text-gray-700 border-gray-500 cursor-not-allowed':
                isLoading
            }"
          >
            <div
              *ngIf="isLoading"
              class="absolute inset-0 flex items-center justify-center"
            >
              <div
                type="button"
                class="pointer-events-none inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 disabled:opacity-70 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
                disabled
              >
                <div
                  class="inline-block h-4 w-4 animate-spin rounded-full border-2 border-solid border-current border-e-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
                  role="status"
                ></div>
                <span class="ms-2">{{"signup.Loading..."|translate}}</span>
              </div>
            </div>

            <span *ngIf="!isLoading">{{"signup.Sign Up"|translate}}</span>
          </button>

          <div class="flex flex-wrap justify-center -m-2">
            <div class="w-auto p-2">
              <button
                class="flex items-center p-4 bg-white dark:bg-gray-300 hover:bg-gray-100 border rounded-lg transition ease-in-out duration-200"
              >
                <span class="font-semibold leading-normal"
                  >{{"signup.If You Have Account Sign in"|translate}}
                  <a href="signin" class="underline text-indigo-500"
                    >{{"signup.here"|translate}}</a
                  ></span
                >
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="w-full md:w-1/2 p-8">
      <div class="container px-4 mx-auto">
        <div class="flex flex-wrap">
          <div class="w-full">
            <div class="md:max-w-lg mx-auto text-center">
              <div class="mb-6 inline-block" href="#">
                <!-- Logo styling -->
                <img
                  src="assets/images/Register.png"
                  alt="logoo"
                  class="h-50 mx-auto"
                />
              </div>

              <div class="flex items-center justify-center mb-6">
                <hr class="w-1/3 border-gray-300" />
                <span class="px-4 text-lg font-semibold text-gray-200">{{"signup.Or"|translate}}</span>
                <hr class="w-1/3 border-gray-300" />
              </div>
              <button
                id="google-button"
                class="w-fit mx-auto rounded-md flex items-center justify-center border border-gray-300 p-3 text-center text-sm font-semibold transition-all shadow-lg hover:shadow-2xl text-gray-700 hover:text-white hover:bg-gray-800 hover:border-gray-800 focus:text-white focus:bg-gray-800 focus:border-gray-800 active:border-gray-800 active:text-white active:bg-gray-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              >
                <img
                  src="https://fonts.gstatic.com/s/i/productlogos/googleg/v6/24px.svg"
                  alt="google"
                  class="h-5 w-5 me-3"
                />
                {{"signup.Sign In With Google"|translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
