
<h1 class="text-red-500 bg-black">wtfffff</h1>
<div class="join">
  <button
    class="join-item btn rounded-full dark:btn-neutral dark:text-gray"
    [disabled]="currentPage === 1"
    (click)="onPageChange(currentPage - 1)"
  >
    «
  </button>

  @for (page of pageNumbers; track page) {
  <button
    class="join-item btn dark:btn-neutral dark:text-gray rounded-full"
    [class.btn-primary]="currentPage === page"
    [class.dark:btn-error]="currentPage === page"
    [disabled]="page === '...'"
    (click)="onPageChange(page)"
  >
    {{ page }}
  </button>
  }

  <button
    class="join-item btn rounded-full dark:btn-neutral dark:text-gray"
    [disabled]="currentPage === totalPages"
    (click)="onPageChange(currentPage + 1)"
  >
    »
  </button>
</div>
